<div class="container">
    <div class="jumbotron m-5 p-5" style="background-color:#62BC98">
        <h2>Welcome <span class="username">human</span>!</h2>
        <br>
        <h3>Your current weight is <span class="current_weight">162</span>pounds</h3>
        <br>
        <h3>Your goal weight is <span class="goal_weight">125</span>pounds</h3>
        <br>
        <h3 for="goal_difference">You are <span class="goal_difference">47</span> pounds away from your
            goal!</h3>
        <br>
        <p>Lots of fad diets and weight-loss programs promise quick and easy weight loss. However, long-term weight loss
            takes time and effort — and a long-term commitment. The foundation of successful weight loss remains a
            healthy, calorie-controlled diet combined with increased physical activity.</p>
        <p>It may seem obvious to set realistic weight-loss goals. But do you really know what's realistic? Over the
            long term, it's smart to aim for losing 1 to 2 pounds a week. Even this level of weight loss can help lower
            your risk of chronic health problems, such as heart disease and type 2 diabetes.</p>
        <p>So how many calories should you strive to eat a day in order to lose 1-2 pounds a week? The answer to this
            question depends on numerous factors, including your age, height, and current weight among others. When
            trying to lose weight, a general rule of thumb is to reduce your calorie intake to 500 fewer calories than
            your body needs to maintain your current weight. This will help you lose about 1 pound of body weight per
            week.</p>
        <h4>Based on the info you provided, to lose 2 pound a week, strive to eat <span class="calories_per_day"></span>
            calories per day.</h4>
    </div>
</div>
<script type="text/javascript" src="js/dashboard.js"></script>