<section id="add" class="container-fluid">


    <div class="row" id="dashboardNav">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand">Weigh to Go</a>
            <!--Button for responsive design-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--This is where the Navbar is encoded-->
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link disabled" href="./dashboard">Dashboard<span
                                class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="./Calorie_counter">Food Diary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./Graph">Track Your Progress</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <section id="add" class="container-fluid">
        <div class="row" id="row-1"></div>
        <div class="row" id="row-2">
            <div class="col-md-3" id="col1Dashboard"></div>
            <div class="col-md-6" id="col2Dashboard">
                <div class="form-wrap">
                    <h1>Welcome (insert user name)</h1>
                    <br></br>
                    <div class="input-group">
                        <label for="current_weight_2">Your Current Weight is: </label>
                        <input type="number" name="current_weight_2" id="current_weight_2" class="input-box"
                            placeholder="For example: 150" value={{current_weight_2}}>
                    </div>
                    <br></br>
                    <br></br>
                    <div class="input-group">
                        <label for="weightEntry">Would you like to update your weight today?</label>
                        <input type="radio" id="yes" name="yes_or_no" value="yes">
                        <label for="yes">yes</label><br>
                        <input type="radio" id="no" name="yes_or_no" value="no">
                        <label for="'no'">no</label><br>
                    </div>
                    <br></br>
                    <div class="input-group">
                        <label for="age">New current weight: </label>
                        <input type="number" name="newWeight" id="newWeight" class="input-box"
                            placeholder="new current weight here" value={{newWeight}}>
                    </div>
                    <br></br>
                    <label for="goal_weight">Your goal weight is: </label>
                    <input type="number" name="goal_weight" id="goal_weight" class="input-box"
                        placeholder="For example: 150" value={{goal_weight}}>
                    <br></br>
                    <label for="goal_difference">You are (insert pounds here) away from your goal!</label>
                    <input type="number" name="goal_difference" id="goal_difference" class="input-box"
                        placeholder="For example: 150" value={{"goal_difference"}}>
                </div>
            </div>
        </div>



        </body>
    </section>