<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h1>Weigh to Go!</h1>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">What have you eaten today?</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
              placeholder="Enter Food Type Here:">
          </div>
          <div class="form-group">
            <label for="example-description">How much did you eat today?</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description"
              placeholder="Enter Size and Number of Portions Here:"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Caloric Intake:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>