<div class="container-fluid">
  <div class="row m-3" id="row-1"><span id="spanLogin"></span></div>
  <div class="row m-3" id="row-2">
    <div class="col" id="col1Login"></div>
    <div class="col" id="col2Login">
      <div class="jumbotron login-page p-2">
        <div class="form">
          <form class="login">
            <input type="text" name="username" id="username" class="input-box" placeholder="Username" value={{username}}>
            <input type="string" name="password" id="password" class="input-box" placeholder="Enter Your Password" value={{password}}>
            <button id = "login">SIGN IN</button>
            <!--this should have an href link to navigate to Calorie_counter? if they already have an account, they do
      not need to re-enter any data -->
            <p class="message">Not registered? <a href="/register">CREATE AN ACCOUNT</a></p>
          </form>
        </div>
      </div>
    </div>
    <div class="col" id="col3Login"></div>
  </div>
  <div class="row m-3" id="row-3"><span id="spanLogin"></span></div>
</div>
<script src="js/login.js"></script>
