<div class="container">
    <div class="jumbotron m-5 p-5" style="background-color:#62BC98">
        <h2 for="goal_difference">Congratulations on your weight loss journey <span class="username">human</span>!</h2>
        <br>
        <div class="input-group">
            <h5>Your former weight was <span class="current_weight">167</span> pounds</h5>
        </div>
        <br>
        <form class="update">
            <div class="form-row align-items-center">
                <label for="updated_weight" style="font-size:large;">Enter your new
                    weight</label>
                <input type="number" class="input-box m-3" id="updated_weight-input"
                    placeholder="New weight in pounds" />
                <button type="submit" class="btn btn-danger">Update</button>
            </div>
        </form>
        <br>
        <h4>You are now <span class="updated_difference">12</span> pounds away from your goal!</h4>
        <br>
    </div>
</div>
<script type="text/javascript" src="js/update.js"></script>