html body {
  background-color: #f2efdc;
  font-family: "Nunito", sans-serif;
}

nav {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  background-color: #dd4125;
  color: #f2efdc;
  width: 100%;
}

table,
th,
td {
  border: 2px solid #202b26;
  text-align: center;
  width: 650px;
}

#calorieTable {
  background-color: #62bc98;
  color: #202b26;
}

.calorieEntry {
  background-color: #f7a642;
}
